<h1>Sessions#new</h1>

<h1>Log In</h1>

 <%= form_for(@user) do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %><br>
  <%= f.label :password %>
  <%= f.password_field :password %><br>
  <%= f.submit "Log In" %>
<% end %>
