<p id="notice"><%= notice %></p>
<h1>Invoice: <%= @invoice.id %></h1>
<h3><%= @invoice.user_shoe.user.name %>'s Sneaker: <%= @invoice.user_shoe.nickname %>  </h3>

<%= link_to 'Edit', edit_invoice_path(@invoice) %> |
<%= link_to 'Back', invoices_path %>
