<p id="notice"><%= notice %></p>

<div class="profile">
  <h1><%= @user.name %></h1>
  <%= image_tag @user.user_image  %>
  <p><%= button_to 'Add Shoe to your Collection', {:controller => "user_shoes", :action => "new", :user_id => @user.id}, :method=>:get  %>
  <p><%= link_to 'Edit', edit_user_path(@user) %></p>
  <p><%= link_to 'Add Shoe', new_user_shoe_path %></p>

</div>

<div class="post_container">

    <% @user.user_shoes.each do |user_shoe| %>
  <div class="post">
      <h3><%= link_to user_shoe.nickname, user_shoe %></h3>
       <%= button_to 'Service your shoe', {:controller => "invoices", :action => "create", :user_shoe_id => user_shoe.id}, :method=>:post  %>
      <div class="shoe-data">
        <% if user_shoe.user_shoe_image.attached? %>
        <%= image_tag user_shoe.user_shoe_image  %>
        <% end %>
      </div>

      <div class="shoe-data">
        <p><%= link_to 'Edit', edit_user_shoe_path(user_shoe) %></p>
        <p><%= link_to 'Destroy', user_shoe, method: :delete, data: { confirm: 'Are you sure?' } %></p>
      </div>
        </div>
    <% end %>

</div>
