<%= form_with(model: shoe, local: true) do |form| %>
  <% if shoe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(shoe.errors.count, "error") %> prohibited this shoe from being saved:</h2>

      <ul>
      <% shoe.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">

      <%= form.label :brand %>
      <%= form.text_field :brand %><br>
      <%= form.label :style %>
      <%= form.text_field :style %><br>


    <%= form.submit %>
  </div>
<% end %>
