<p id="notice"><%= notice %></p>

<h1><%=  @shoe.brand %> - <%= @shoe.style %></h1>
<% if @shoe.shoe_image.attached? %>
<%= image_tag @shoe.shoe_image  %>
<% end %>

<hr>
<%= link_to 'Edit', edit_shoe_path(@shoe) %> |
<%= link_to 'Back', shoes_path %>
