<%= form_with(model: user_shoe, local: true) do |form| %>
  <div class="actions">
     Name: <%= form.collection_select :user_id, User.all, :id, :name %><br>
    <!-- Sneaker Brand: <%= form.collection_select :shoe_id, Shoe.all, :id, :brand %><br> -->
    Sneaker Style: <%= form.collection_select :shoe_id, Shoe.all, :id, :style %><br>
    Nickname: <%= form.text_field :nickname %><br>
    <%= form.label 'Upload Image' %>
    <%= form.file_field :user_shoe_image %><br>
    <%= form.submit %>
  </div>
<% end %>
