<p id="notice"><%= notice %></p>

<h1>User Shoes</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user_shoes.each do |user_shoe| %>
      <tr>
        <td><%= link_to user_shoe.nickname, user_shoe %></td>
        <td><%= link_to 'Edit', edit_user_shoe_path(user_shoe) %></td>
        <td><%= link_to 'Destroy', user_shoe, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User Shoe', new_user_shoe_path %>
