<p id="notice"><%= notice %></p>




<h3><%= @user_shoe.user.name %>'s Sneaker: <%= @user_shoe.nickname %>  </h3>
<ul>
  Brand: <%= @user_shoe.shoe.brand %><br>
  Style: <%= @user_shoe.shoe.style %><br>

</ul><br>

<h4><%= link_to 'Service your shoes', new_invoice_path %></h4>

<%= link_to 'Edit', edit_user_shoe_path(@user_shoe) %> ∙
<%= link_to 'Delete', @user, method: 'delete', data: { confirm: 'Are you sure?' } %>
