<p id="notice"><%= notice %></p>

<h3><%= @user_shoe.user.name %>'s Sneaker: <%= @user_shoe.nickname %>  </h3>
<ul>
  Brand: <%= @user_shoe.shoe.brand %><br>
  Style: <%= @user_shoe.shoe.style %><br>

</ul><br>

<%= button_to 'Service your shoe', {:controller => "invoices", :action => "create", :user_shoe_id => @user_shoe.id}, :method => :post  %>

<!--  :user_id=> session[:user_id] -->

<%= link_to 'Edit', edit_user_shoe_path(@user_shoe) %> ∙
<%= link_to 'Delete', @user, method: 'delete', data: { confirm: 'Are you sure?' } %>
